[submodule "CloverLeaf3D_ref"]
	path = CloverLeaf3D_ref
	url = git@github.com:Warwick-PCAV/CloverLeaf3D_ref.git
[submodule "CloverLeaf_OpenACC_3D"]
	path = CloverLeaf_OpenACC_3D
	url = git@github.com:Warwick-PCAV/CloverLeaf_OpenACC_3D.git
