[submodule "CloverLeaf3D_ref"]
	path = CloverLeaf3D_ref
	url = https://github.com/UK-MAC/CloverLeaf3D_ref.git
[submodule "CloverLeaf_OpenACC_3D"]
	path = CloverLeaf_OpenACC_3D
	url = https://github.com/UK-MAC/CloverLeaf_OpenACC_3D.git
[submodule "CloverLeaf3D_OpenCL"]
	path = CloverLeaf3D_OpenCL
	url = https://github.com/UK-MAC/CloverLeaf3D_OpenCL.git
